* {
    margin: 0;
    box-sizing: content-box;
    user-select: none;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header footer */
footer, header {
    display: flex;
    background-color: rgb(30,30,30);
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2vh;
    padding: 1vh 0;
}

header {
    padding: 1.5vh 0;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.github-icon {
    width: 1.5vw;
    background-color: white;
    border-radius: 50%;
    border: 0.1vw solid white;
}

/* INTERFACE */
.interface {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


/* CANVAS */
.canvas {
    flex: 0 0 auto;
    margin: 1vw 0;
    border: 0.2vw solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 40vw;
    aspect-ratio: 1/1;
    background-color: white !important;
}

.cell {
    cursor: crosshair;
    user-select: none;
    box-sizing: border-box;
    flex: 0 1 auto;
    border: 1px solid rgba(200, 200, 200, 0.5);
}

/* Side interfaces */
.interface-left, .interface-right {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 500px;
    background-color:rgba(230, 230, 230, 0.5);
    border-radius: 0.5vw;
}


.interface button {
    font: inherit;
    width: 50%;
    padding: 5px 0;
    border: 0;
    border-radius: 0.5vh;
    background-color: rgba(220, 220, 220);
    margin: 10px 0 0;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s;
}

.interface button:hover {
    transform: scale(1.1);
    background-color: rgba(180, 180, 180);
}

.interface button:active {
    background-color: rgba(220, 220, 220);
}